alabaster==0.7.12
atomicwrites
attrs
Babel
certifi
chardet
coverage
docutils
entrypoints
flake8
idna
imagesize
importlib-metadata
Jinja2
MarkupSafe
mccabe
mock
more-itertools
nose
packaging
pbr
pluggy
py
pycodestyle
pyflakes
Pygments
pyparsing
pytest
pytest-cov
python-dateutil
pytz
randomize
requests
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
swagger-client
urllib3
wcwidth
zipp
