alabaster
atomicwrites
attrs
Babel
certifi
chardet
click
coverage
docutils
entrypoints
Flask
gunicorn
idna
imagesize
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mccabe
mock
more-itertools
nose
packaging
pbr
pluggy
py
pycodestyle
pyflakes
Pygments
pyparsing
pytest
pytest-cov
python-dateutil
pytz
randomize
requests
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
wcwidth
Werkzeug
zipp
